
<%= form_for(@bet) do |f| %>
  <% if @bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
      <% @bet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div>
    <div class="input-group">
      <div class="input-row">
        <%= f.label :challenge %>
        <%= f.text_field :challenge, :placeholder => "What's the bet?" %>
      </div>
      <div class="input-row">
        <%= f.label :win_status %>
        <%= f.text_field :win_status, :placeholder => "Embarrassing status" %>
      </div>
    </div>
      
      <%= f.hidden_field(:status, value: "pending") %>
      <%= f.hidden_field(:owner_id, value: current_user.id) %>
      <%= f.hidden_field(:challenger_id, value: @challenger.id) %>
      <%= f.submit"Lay down the challenge!", :class => "button-block button-negative" %>
  </div>
<% end %>
