<header class="bar-title">
  <%= link_to 'Cancel', bets_path, "data-transition" => "slide-out", class: 'button-prev' %>
  <h1 class="title">Dignity Bet</h1>
  <%= link_to pick_challenger_path, "data-transition" => "slide-in", onclick:"alert('wassup')", class: 'button' do %>
    <i class='icon-plus' style="font-size:15px"></i>
  <% end  %>
</header>

<nav class="bar-tab">
   <ul class="tab-inner">
     <li class="tab-item active">
       <a href="">
         <i class="icon-pushpin" style='color:white; font-size: 30px;'></i>
         <div class="tab-label">Live Bets</div>
       </a>
     </li>
     <li class="tab-item">
       <a href="">
         <i class="icon-time" style='color:white; font-size: 30px;'></i>

         <div class="tab-label">Past Bets</div>
       </a>
     </li>

     </li>
   </ul>
 </nav>

<div class="content">
  <div class="content-padded">

    <%= form_for(@bet) do |f| %>
      <%= f.text_field :lose_status %>
      <%= f.hidden_field :status, value: "active" %>
      <%= f.submit %>
    <% end %>

  </div>
</div>