<header class="bar-title">
  <h1 class="title bold">DIGNITY BET</h1>
  <%= link_to pick_challenger_path, "data-transition" => "slide-in", class: 'button' do %>
    <i class='icon-plus' style="font-size:15px"></i>
  <% end  %>
</header>

<nav class="bar-tab">
   <ul class="tab-inner">
     <li class="tab-item active">
       <a href="">
         <i class="icon-pushpin" style='color:white; font-size: 30px;'></i>
         <div class="tab-label">Live Bets</div>
       </a>
     </li>
     <li class="tab-item">
       <a href="">
         <i class="icon-time" style='color:white; font-size: 30px;'></i>
         <div class="tab-label">Past Bets</div>
       </a>
     </li>

     </li>
   </ul>
 </nav>





<div class="content">

<ul class='list'>

<li class="list-divider">Challenge requests <span class="count" style="background-color: red;"><%= @bet_requests.count %></span></li>
<% @bet_requests.each do |bet| %>
  <li>
    <%= link_to accept_bet_path(bet),  "data-transition" => "slide-in" do %>
      <h2><%= bet.challenger.name %></h2>
      <p><%= bet.challenge %></p>
      <span class="chevron"></span>
    <% end %>
  </li>
<% end %>

<li class="list-divider">Pending Challenger Accept<span class="count" style="background-color: blue;"><%= @awaiting_accept.count %></span></li>
<% @awaiting_accept.each do |bet| %>
  <li>
      <h2><%= bet.challenger.name %></h2>
      <p><%= bet.challenge %></p>
  </li>
<% end %>

<li class="list-divider">Active Bets  <span class="count"><%= @active_bets.count %></span></li>
<% @active_bets.each do |bet| %>  
  <li>
    <%= link_to bet,  "data-transition" => "slide-in" do %>
      <h2 ><%= bet.challenger.name %></h2>
      <p><%= bet.challenge %></p>
      <span class="chevron"></span>
    <% end %>
  </li>
<% end %>  

<li class="list-divider">Bets Won <span class="count"><%= @bets_won.count %></span></li>
<% @bets_won.each do |bet| %>  
  <li>
    <div ><%= bet.challenger.name %></div>
    <div><%= bet.challenge %></div>
    <span class="chevron"></span>
  </li>
<% end %>
</ul>

  
</div>