<header class="bar-title">
  <%= link_to 'Back', bets_path, "data-transition" => "slide-out", class: 'button-prev' %>
  <h1 class="title">Challenge</h1>
</header>

<nav class="bar-tab">
   <ul class="tab-inner">
     <li class="tab-item active">
       <a href="">
         <i class="icon-pushpin" style='color:white; font-size: 30px;'></i>
         <div class="tab-label">Live Bets</div>
       </a>
     </li>
     <li class="tab-item">
       <a href="">
         <i class="icon-time" style='color:white; font-size: 30px;'></i>

         <div class="tab-label">Past Bets</div>
       </a>
     </li>

     </li>
   </ul>
 </nav>

<div class="content">
  <div class="content-padded">
    
<p id="notice"><%= notice %></p>

<table class="head-to-head">
  <tr>
    <td class="head-to-head">
      <div><%= image_tag "http://graph.facebook.com/#{@bet.owner.uid}/picture?type=large", width: 100 %></div>
    </td>
    <td>
      <h1><i class="icon-bolt"></i></h1>
    </td>
    <td class="head-to-head">
      <div><%= image_tag "http://graph.facebook.com/#{@bet.challenger.uid}/picture?type=large", width: 100 %></div>
    </td>
  </tr>
  <tr>
    <td>
      <h3><%= @bet.owner.name %></h3>
    </td>
    <td>
    </td>
    <td>
      <h3><%= @bet.challenger.name %></h3>
    </td>
</table>

<h3 class="logo-text"><%= @bet.challenge %></h3>

<% case @bet.status %>
<% when "drew" %>
  <h3 class="result-text">It's a Draw!</h3>
<% when "active" %>
  <!-- <h3 class="result-text" style="color:green;">Active</h3> -->
<% when "lost","won" %>
  <% if @bet.winner == current_user %>
    <h3 class="result-text">You won!</h3>
  <% else %>
    <h3 class="result-text">You lost :-(</h3>
  <% end %>
<% end %>


<%= link_to 'Set Result', determine_result_path(id: @bet.id), "data-transition" => "slide-in", class: "button-block button-main" if (@bet.status=="active") %>




</div></div>