<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= @bet.owner %>
</p>

<p>
  <b>Challenger:</b>
  <%= @bet.challenger %>
</p>

<p>
  <b>Challenge:</b>
  <%= @bet.challenge %>
</p>

<p>
  <b>Win status:</b>
  <%= @bet.win_status %>
</p>

<p>
  <b>Lose status:</b>
  <%= @bet.lose_status %>
</p>

<p>
  <b>Status:</b>
  <%= @bet.status %>
</p>


<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
