<!DOCTYPE html>
<html>
<head>
  <title>Dignity Bet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <!-- Sets initial viewport load and disables zooming  -->
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width;">

  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Set Apple icons for when prototype is saved to home screen -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/app_icons/icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/app_icons/icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/app_icons/icon-57x57.png">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,800,300' rel='stylesheet' type='text/css'>
  
  <script>
    window.config = "<%= root_url %> <%= ENV['APP_ID'] %>"
  </script>
  
</head>
  
<body>

<%= yield %>
</body>
</html>
